---
title: Ethan Huff
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				Ethan Huff
				</h1>
				
				<section>
					<img src="/files/images/pfpic.jpg" alt="pfpic" width="150px">
					<p>
						I'm currently a high school student in Utah teaching myself how to program websites.
					</p>
				</section>
				
				<section>
					<p>
						If you have any questions, feel free to email me at <a href="mailto:crypticet3124@qupg.tk"><i>CrypticET3124@qupg.tk</i></a>.
					</p>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>