---
title: Ethan Huff
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				Ethan Huff
				</h1>
				
				<section>
					<img src="/files/images/pfpic.jpg" alt="pfpic" width="150px">
					<p>
						Hello, I'm a high school Junior in Virginia wanting to eventually have a job in the technology industry.
					</p>
					<p>
						Feel free to check out:
						<ul>
							<li>My <a href="/certifications/">certifications</a></li>
							<li>What I'm <a href="/works/current/">currently</a> working on</li>
							<li>What I've <a href="/works/past/">already</a> completed</li>
						</ul> 
					</p>
				</section>
				
				<section>
					<p>
						Feel free to email me at <a href="mailto:crypticet3124@qupg.tk"><i>CrypticET3124@qupg.tk</i></a>.
					</p>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>