<nav>
    <ul>
        <li class="logo">
            <img class="logonav" src="/files/images/logos/QUGLogoSimpleWhiteT500.png" alt="Logo">
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/certifications/">Certifications</a></li>
        <li class="dropdown">
            <a href="/works">Works</a>
            <div class="dropdown-content">
                <a href="/works/current/">Current</a>
                <a href="/works/past/">Past</a>
            </div>
        </li>
    </ul>
</nav>