---
title: Current Works
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
			{% include works.css %}
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				Current Works
				</h1>
				
				<section>
					<p>
						Here is everything that I am currently working on:
					</p>
				</section>
				<section id="projects">
					<ul>
						<li class="public"><a href="https://qupg.tk">Qupg.tk</a>
							<ul>
								<li class="paragraph">
									<div>
										<p>
											This is a website that I have been working on since April 2021.
										</p>
										<p>
											I've been using this website to self-teach myself HTML and CSS, along with some miscellaneous tools to use Github Pages.
										</p>
										<p>
											I use it to test various things before I implement them on <i>this</i> website.
										</p>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>