---
title: My Works
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				My Works
				</h1>
				<section>
					<p>
						I try to make sure to pace myself in order to not overwhelm my self with what I'm doing.
					</p>
					<p>
						Check out my <a href="/projects/current/">current</a> and <a href="/projects/past/">past</a> works.
					</p>
					<p>
						<a href="/aboutme/certifications/">Certifications</a> are on a different page.
					</p>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>