---
title: Past Works
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<style>
			{
				% include works.css %
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<h1>
					Past Works
				</h1>

				<section>
					<p>
						<!--Here is everything that I have already completed:--> Currently I haven't retired any projects.
					</p>
				</section>
				<section id="projects">
					
				</section>
			</main>
		</div>

		{% include footer.html %}
	</body>

</html>